workflows/🤖 [IA] [VENDAS] [MARCOS].json
{
  "active": true,
  "connections": {
    "Parser  Chain1": {
      "main": [
        [
          {
            "node": "Segmentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "camposIniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Vendedor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Responde texto": {
      "main": [
        [
          {
            "node": "1,2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "transforma audio em binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empilhaTexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem não suportada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos": {
      "ai_tool": [
        [
          {
            "node": "Vendedor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Vendedor IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Responde texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no.op2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2s": {
      "main": [
        [
          {
            "node": "no.op2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "fromMe": {
      "main": [
        [
          {
            "node": "NOP1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "NoOp.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraUUID": {
      "main": [
        [
          {
            "node": "CreateUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GeraUUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getClient": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais": {
      "main": [
        [
          {
            "node": "fromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empilhaÁudio": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtem": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empilhaTexto": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "Vendedor IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vendedor IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vendedor IA": {
      "main": [
        [
          {
            "node": "Parser  Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "suporte": {
      "ai_tool": [
        [
          {
            "node": "Vendedor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforma audio em binario": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforma audio em binary": {
      "main": [
        [
          {
            "node": "transforma audio em binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "empilhaÁudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-27T17:59:18.896Z",
  "id": "uDGDlEcfXp1DXT4Q",
  "meta": null,
  "name": "🤖 [IA] [VENDAS] [MARCOS]",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- _itálico_.(extremamente raro)"
            }
          ]
        }
      },
      "id": "2f65f216-6b9a-4c1e-b96d-ab589b0fc057",
      "name": "Parser  Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -400,
        140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vendedora-vitoria",
        "options": {}
      },
      "id": "76c78850-6870-46a6-b441-022c3b306e2d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3920,
        200
      ],
      "webhookId": "7cb2b84c-b62c-4f68-b719-19e5b8b79b17"
    },
    {
      "parameters": {},
      "id": "0d6f882e-f898-4d35-923b-e44867e804b8",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        400,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').item.json.whatsapp.evo.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('camposIniciais').item.json.whatsapp.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ $('camposIniciais').item.json.linkPreview }}"
            },
            {
              "name": "delay",
              "value": "={{ $('camposIniciais').item.json.Digitando }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f87fddab-2f92-440e-b404-48e4de7be0a5",
      "name": "Responde texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        460
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60065893-74f7-4b64-bc1a-d891202efa78",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "e8784a1b-2fe5-40c6-85d8-228fa27837da",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2440,
        1080
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use quando o usuário ou você precisar saber de informações do produto Segredo das Casas Incríveis.",
        "operation": "get",
        "documentURL": "={{ $('camposIniciais').item.json.doc.id }}"
      },
      "id": "9e163477-07a2-47ac-94d4-fe22dd922b13",
      "name": "infos",
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        580,
        1520
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CZatswa53EBzPYKB",
          "name": "Google Docs - marcosvini.daroch@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('messages').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "1d263428-5129-4924-83b3-766f95714e3b",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -60,
        1580
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## PASSO 5 - ORGANIZA E ENVIA AS MENSAGENS PARA O CLIENTE",
        "height": 1034,
        "width": 2164,
        "color": 6
      },
      "id": "7bf41ed1-e219-4f9b-b932-4676d6e42411",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        -300
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "20a01256-f96d-48f4-b14f-728a977c7bc8",
      "name": "OutputParser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -180,
        480
      ]
    },
    {
      "parameters": {},
      "id": "23458f70-7fd7-4c5b-8f2e-dce60cf19a2d",
      "name": "Replace Me1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {},
      "id": "9028c8c5-746d-48b4-8b62-8cfa383f4444",
      "name": "no.op2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a6f23273-4fbd-4814-a345-50fe6801b371",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        540,
        140
      ]
    },
    {
      "parameters": {
        "amount": 1.2
      },
      "id": "78899c5b-0196-4e0c-aa94-aff0893caf65",
      "name": "1,2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        900,
        280
      ],
      "webhookId": "8a810ad6-4ecf-4781-aed8-7f2b295770dc"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "9a850ca7-a7ca-4b71-b755-c7f7cdf92e56",
      "name": "Segmentos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        80,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f623c44c-8739-4242-82c9-3c72078238e7",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -400,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "JEDsFEG2tytyjpeK",
          "name": "ia-vitoria-n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "## PASSO 4 - AGENTE DE IA COM INTELIGÊNCIA E TOOLS",
        "height": 1074,
        "width": 1599,
        "color": 4
      },
      "id": "0bed13f9-2c5c-466d-bb8d-3a26376bf65f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        800
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 2 - CRIA USUÁRIO NO BANCO DE DADOS SUPABASE",
        "height": 650,
        "width": 1179,
        "color": 6
      },
      "id": "3debe949-b67f-4b16-bcf0-b088b6005799",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3960,
        760
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 1 - CREDENCIAIS, DADOS, E PROMPT AGENTE",
        "height": 854,
        "width": 1179,
        "color": 5
      },
      "id": "f37d4e53-6859-43e7-a41f-de5d73863f71",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3960,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3c9b986-29a6-4418-a033-6422c387377f",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15c593ec-1fc2-4441-b9ec-d526011886b9",
      "name": "fromMe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3880,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "cd5d3cb4-c4be-4496-94c6-0459b70786f4",
      "name": "NOP1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3720,
        1040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ \n  $json.message.length > 8 \n  ? $('camposIniciais').item.json.content.idMensagem\n  : JSON.parse($json.message.first()).message_id.toString().trim()\n}}",
                    "rightValue": "={{ $('camposIniciais').item.json.content.idMensagem.toString().trim() }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b9b7794-e8f6-45b5-8021-f59dbb747cb0",
                    "leftValue": "={{ JSON.parse($json.message.last()).timestamp }}",
                    "rightValue": "={{ $now.minus($('camposIniciais').item.json.app.debouncerTime, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "proceder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "36d825ae-d996-49ae-9eb8-cc378578ac12",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1280,
        1080
      ]
    },
    {
      "parameters": {
        "action": "generate"
      },
      "id": "5e777234-a017-4144-aabb-3fd49dd9be7e",
      "name": "GeraUUID",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -3120,
        1240
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "tableId": "cadastros",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.nomeCliente }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "fieldId": "idMensagem",
              "fieldValue": "={{ $('camposIniciais').item.json.content.idMensagem }}"
            },
            {
              "fieldId": "sessionID",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "data_cadastro",
              "fieldValue": "={{ $now.format('yyyy-MM-dd HH:mm')}}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "Recuperação - Vitória"
            }
          ]
        }
      },
      "id": "65aa8e3e-015d-414e-a15c-aaf9aee37bae",
      "name": "CreateUser",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2940,
        1240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "0ku9ziUzfzcnNG5C",
          "name": "Supabase - Eng. Matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e77cc7c-48f4-4cbe-94e7-6d211db67002",
              "leftValue": "={{ $item(\"0\").$node[\"getClient\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "18fe53f2-d15b-474d-818c-b5615c7f2f89",
              "leftValue": "={{ $item(\"0\").$node[\"getClient\"].json[\"telefone\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "be1ca245-51df-45cc-bbcc-64e09faa6e27",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3320,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}"
            }
          ]
        }
      },
      "id": "df6faa33-8041-41e4-8b1d-e6857d585307",
      "name": "getClient",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3520,
        1100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "0ku9ziUzfzcnNG5C",
          "name": "Supabase - Eng. Matheus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "meta.telefoneCliente",
              "value": "={{ \n  $json.body?.conversation?.contact_inbox?.contact_id || \n  $json.body?.data?.key?.remoteJid || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "a019046c-3b5a-4fd0-a497-de55cb2178ea",
              "name": "meta.telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "meta.nomeCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "01238a36-6907-4aec-ab21-26345ed5fc96",
              "name": "whatsapp.evo.nomeInstancia",
              "value": "={{ $json.body.instance || null }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "content.mensagem",
              "value": "={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "content.tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "content.idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "9d947263-3b68-4c63-88ba-ef1b9de22571",
              "name": "empresa.nomeEmpresa",
              "value": "Engenheiro Matheus",
              "type": "string"
            },
            {
              "id": "076ad2d4-b8ea-440f-9c02-f7e8417a984d",
              "name": "whatsapp.evo.apikey",
              "value": "={{ $json.body.apikey || null }}",
              "type": "string"
            },
            {
              "id": "0c237725-0428-4f1d-bddf-41bd289b3168",
              "name": "whatsapp.evo.server_url",
              "value": "={{ $json.body.server_url || null }}",
              "type": "string"
            },
            {
              "id": "255b9c45-7769-4d09-9c50-61dcdfb7c09d",
              "name": "app.debouncerTime",
              "value": "4",
              "type": "string"
            },
            {
              "id": "196aeb96-5c33-4dd7-9a4f-6bd40765b7fb",
              "name": "doc.id",
              "value": "10Brk8wFgtyY2ZDRv5WGakZZLLKAC6hNqwLaKFRCYgWE",
              "type": "string"
            },
            {
              "id": "fc7c5c8f-b505-4a43-ae07-51eea58d6f80",
              "name": "linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e30bbf8c-d5da-4410-b875-8dfe4b301798",
              "name": "Digitando",
              "value": 1200,
              "type": "number"
            },
            {
              "id": "c4f557bd-72f1-4507-8d9d-c2a590eea2b8",
              "name": "content.quoted",
              "value": "={{ $json.body.data.message.conversation }}\n{{ $json.body.data.message.imageMessage.url }}",
              "type": "string"
            },
            {
              "id": "9345b6f7-9113-4ebd-b6d0-8f37ce497d06",
              "name": "doc.id2",
              "value": "1K7FSJpJ7HupdAkO9_o8A-6s9sF1_j0am7c5FBfiFLzs",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "17c01f33-7e6f-4a13-9b3b-3d72bd37c07d",
      "name": "camposIniciais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3640,
        200
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "228d6f03-f5ed-4dfd-bb3d-402133b5e60e",
      "name": "empilhaÁudio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1980,
        880
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}"
      },
      "id": "a911921a-167a-4b6f-a799-e976fdf23182",
      "name": "Deleta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -780,
        1080
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "options": {}
      },
      "id": "0ac72dde-a147-40e0-8d95-166e45ac939b",
      "name": "Obtem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1580,
        1080
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('camposIniciais').item.json.content.mensagem, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "69cd97ec-01f6-4a19-9297-7984edddfb0e",
      "name": "empilhaTexto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1980,
        1100
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7158aa0-84e0-44b1-8629-bf23fb4c0766",
              "name": "=messages",
              "value": "={{ (() => {\n  try {\n    const deleteMessage = $item(0).$node[\"Deleta\"].json?.message?.[0] || '';\n    const audioText = (() => {\n      try {\n        return $item(0).$node[\"empilhaÁudio\"].json?.text || '';\n      } catch (error) {\n        return '';\n      }\n    })();\n    return audioText || deleteMessage || '';\n  } catch (error) {\n    return '';\n  }\n})() }}",
              "type": "string"
            },
            {
              "id": "0c4c3b74-297a-4cf2-b2b8-0feefad328ec",
              "name": "sessionId",
              "value": "={{ $item(\"0\").$node[\"getClient\"].json[\"sessionID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e29af50-65d7-4a9e-9f3b-cb26d7351e33",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        980
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('camposIniciais').item.json.app.debouncerTime }}"
      },
      "id": "6b0a3818-4570-4a65-a358-aa40681a0bee",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -940,
        1300
      ],
      "webhookId": "7e21e91a-dee0-417b-a02b-6a71a97d88ab"
    },
    {
      "parameters": {},
      "id": "2c561416-ddab-4429-8ec2-9ca0b40f37af",
      "name": "NoOp.",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -920,
        880
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 3 - DEFINE O TIPO DE MENSAGEM E ORGANIZA PARA O AGENTE",
        "height": 1094,
        "width": 1899
      },
      "id": "836b0323-31cf-4d8d-9a7f-4359a9e0f156",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2700,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9e465b0-01c3-4147-8787-02baff345ef8",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        1500
      ],
      "credentials": {
        "openAiApi": {
          "id": "JEDsFEG2tytyjpeK",
          "name": "ia-vitoria-n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "### - Recebe dados da Evolution API [Webhook]\n\n### - Tratamento e Organização dos dados [camposIniciais]\n\n### - Combinar dados recebidos [unificaDados]",
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3940,
        -80
      ],
      "typeVersion": 1,
      "id": "175c52ce-f7f7-48f3-b4cb-4906a759cbc4",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "### - Filtro para tipo de mensagem, texto, áudio e imagem [Switch2]\n\n### - Realiza o empilhamento das mensagens de texto [empilhaTexto] e o empilhamento e transcrição dos áudios para enviar para o Agente IA [empilhaAudio]\n\n### - Formata as mensagens recebidas para enviar para o Agente IA [Redis]\n\n### - Filtro de espera ou prosseguir com o fluxo [Switch] \n\n### - Limpa dados desnecessários [Redis1]",
        "height": 300,
        "width": 1020,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2640,
        1540
      ],
      "typeVersion": 1,
      "id": "daab1b8a-a8e3-477c-bf7b-cdf280bcae99",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "### CHAT MODEL: \nGPT-4o-mini",
        "height": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        1420
      ],
      "typeVersion": 1,
      "id": "c3b513a9-bdbc-4966-a0ff-839737809429",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "### MEMÓRIA DO CHAT: \nRedis (nativo)",
        "height": 240,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        1480
      ],
      "typeVersion": 1,
      "id": "74a5f224-cebf-4229-9b1c-53ab544fa54f",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "\n\n### FERRAMENTAS (TOOLS) \n-Calculadora\n-Doc infos loja\n-Tool Modelos de Bicicletas\n-Tools Informações Bicicletas",
        "height": 180,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        1480
      ],
      "typeVersion": 1,
      "id": "1070b894-3185-4941-a9ca-4029ad1038c8",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "### CUIDADO...\nCuidado! Se você alterou o nome de algum nó verifique todas as expressões da automação.",
        "height": 100,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        1720
      ],
      "typeVersion": 1,
      "id": "86791a6f-11cd-4325-8c50-36ab97361f3b",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "### - Prepara a resposta do Agente para enviar para o Lead [Parser Chain]\n\n### - Envia cada mensagem de uma vez a partir de um Loop e da conexão API com a sua instância da Evolution API [Responde texto]\n\n** Esta parte da automação é destinada para preparar a resposta que chega do Agente de IA via conexão API com o Chat GPT e enviar para o seu Lead.\n",
        "height": 200,
        "width": 1100,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        -160
      ],
      "typeVersion": 1,
      "id": "751a39ad-1c05-4981-86bd-5d68db3a3a89",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('messages').all()[0].json.messages }}",
        "options": {
          "systemMessage": "=<Instruções do Agente>\n  <Função>\n    <Nome>Vitória</Nome>\n    <Descrição>Closer de vendas do curso Segredo das Casas Incríveis (SCI), atuando no WhatsApp como um humano real. Fala curto, natural, sem formalidade e com fluxo de conversa de WhatsApp.</Descrição>\n    <DataAtual>{{ $now.toUTC(-180) }}</DataAtual>\n  </Função>\n\n  <Meta>\n    <Primary>Recuperar vendas usando conversa curta, leve, natural, humana e persuasiva sem parecer IA em nenhum momento.</Primary>\n  </Meta>\n\n  <Instruções>a\n    <Instrução>Fale SEMPRE com frases curtas, simples e divididas em várias mensagens</Instrução>\n    <Instrução><b>NUNCA</b> use ponto final (.) no final das frases ou palavras</Instrução>\n    <Instrução>Envie saudações de acordo com o horário local usando: {{ new Date().getHours() < 12 ? 'Bom dia' : (new Date().getHours() < 18 ? 'Boa tarde' : 'Boa noite') }}</Instrução>\n    <Instrução>Use letra minúscula no início de algumas frases de forma natural</Instrução>\n    <Instrução>Use risadas como \"kkkk\" ou \"haha\" apenas se for muito natural e se o cliente demonstrar esse tipo de comportamento</Instrução>\n    <Instrução>Use emojis de forma extremamente rara e apenas se ficar totalmente natural. Limite máximo: 1 emoji a cada 10 a 15 mensagens</Instrução>\n    <Instrução>Busque dados do produto apenas na tool \"infos\"</Instrução>\n    <Instrução>Quando o cliente pedir preço, pegue da \"infos\" o valor e as parcelas corretas. Nunca chute valor</Instrução>\n    <Instrução>Quando informar valor ou parcelas, adicione uma frase curta e persuasiva tipo: \"e ainda facilita demais no bolso\"</Instrução>\n    <Instrução>Quando o cliente pedir o link de compra, envie apenas o link puro, sem botão, sem formatação, sem texto extra: https://hotm.art/segredo-das-casas-incriveis-ma</Instrução>\n    <Instrução>Não envie valor ou link sem o cliente pedir. Se pedir, envie de forma natural e direta</Instrução>\n    <Instrução>Se o cliente mandar \"ok\" ou \"OK\" (case insensitive) sem contexto, entenda que está respondendo o disparo inicial e continue apresentando o curso de forma leve</Instrução>\n    <Instrução>Leia o contexto da conversa antes de responder. Nunca repita soluções já oferecidas</Instrução>\n    <Instrução>Quando surgir objeção, responda de forma leve, curta e lógica, respeitando o histórico</Instrução>\n    <Instrução>Exemplos:\n      - Se o cliente já viu o valor e reclamar de preço, traga benefício: \"entendo é um investimento que te ajuda a economizar muito mais na reforma\"\n      - Se o cliente falar que vai pensar, respeite e avance de forma sutil: \"massa fica tranquilo qualquer coisa tô por aqui\"</Instrução>\n    <Instrução>Sempre avance com perguntas curtas: \"acha que te ajuda a resolver sua reforma\" ou \"quer que eu te mostre mais sobre o que você vai aprender\"</Instrução>\n    <Instrução>Use gatilhos de urgência só se for muito natural, sem inventar prazos falsos</Instrução>\n    <Instrução>Encaminhe dúvidas técnicas para o suporte: \"essa parte é mais técnica quer que eu mande o suporte pra você\"</Instrução>\n    <Instrução>Se o cliente sumir, retome com leveza: \"conseguiu dar uma olhada no que te mandei\"</Instrução>\n    <Instrução>Finalize qualquer conversa reforçando parceria: \"fica tranquilo tô aqui pra te ajudar no que precisar viu\"</Instrução>\n    <Instrução>Se perguntarem se você é uma IA ou inteligência artificial, responda que não, que você é uma humana hehe</Instrução>\n  </Instruções>\n</Instruções do Agente>"
        }
      },
      "id": "1c60f6ca-e218-4cb7-9bd2-a326317146f9",
      "name": "Vendedor IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        1080
      ]
    },
    {
      "parameters": {
        "content": "### - Verifica se já existe um cliente cadastrado\n\n### - Se sim, prossegue o fluxo\n\n### - Se não, cria um cliente e um id do chat e prossegue o fluxo",
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3940,
        860
      ],
      "typeVersion": 1,
      "id": "01e71ed2-f6f4-4f88-933f-3d4ce539d689",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').item.json.whatsapp.evo.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('camposIniciais').item.json.whatsapp.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "name": "text",
              "value": "=Infelizmente não consigo entender imagens, poderia enviar um texto ou áudio?"
            },
            {
              "name": "linkPreview",
              "value": "={{ $('camposIniciais').item.json.linkPreview }}"
            },
            {
              "name": "delay",
              "value": "={{ $('camposIniciais').item.json.Digitando }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "247428df-f4c1-404e-a813-caab370709e0",
      "name": "Mensagem não suportada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2060,
        1320
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use quando você precisar redirecionar o cliente para o suporte técnico.",
        "operation": "get",
        "documentURL": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"doc\"][\"id2\"] }}"
      },
      "id": "47103b31-54f5-4dca-a0b3-b9ef6d705c6b",
      "name": "suporte",
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        720,
        1520
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CZatswa53EBzPYKB",
          "name": "Google Docs - marcosvini.daroch@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}"
      },
      "id": "22c910d8-6a61-415d-bab6-d15a945304aa",
      "name": "Deleta1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3220,
        200
      ],
      "credentials": {
        "redis": {
          "id": "pjR1X6wBK1AX0GnK",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2720,
        1240
      ],
      "id": "67b1ecda-454a-4964-8566-89801106f5ad",
      "name": "Wait1",
      "webhookId": "c9984406-591e-4a50-a1ad-16f7bb521455"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -2200,
        860
      ],
      "id": "c851269f-c24f-421f-9276-2813275def1e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TJb8CFfEt4SRVUHE",
          "name": "OpenAi - rec. de vendas"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $json.mediaType }}",
          "mimeType": "=audio/ogg"
        }
      },
      "id": "9e2e45dd-6c22-4118-959a-f27e63391cd7",
      "name": "transforma audio em binario",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2420,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.engenheiromatheus.com/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"camposIniciais\"].json[\"whatsapp\"][\"evo\"][\"nomeInstancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"whatsapp\"][\"evo\"][\"apikey\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n        }\n    },\n    \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "3f5efeb3-b6c6-45ca-889a-31230c6d5ecf",
      "name": "transforma audio em binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2620,
        860
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "axios/1.7.9",
            "content-length": "14004",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "eng-mateus-sci",
            "data": {
              "key": {
                "remoteJid": "5527998210071@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB022F2597ECC50EF99A5"
              },
              "pushName": "Marcos Santana",
              "status": "DELIVERY_ACK",
              "message": {
                "audioMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7117-24/19078243_1759410921668410_1824232847794706028_n.enc?ccb=11-4&oh=01_Q5Aa1QE2VumXrxBNyfu8GUJjuPC50fiVjQaheqNMP6c-6f3ouQ&oe=6834212E&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "audio/ogg; codecs=opus",
                  "fileSha256": "O6UDx0dVPVMsI28XqYPnHY/SNTqziArgHoktajZnIhs=",
                  "fileLength": "9079",
                  "seconds": 4,
                  "ptt": true,
                  "mediaKey": "ceypXh4iu6z0c7fVZhF4birG5fi+hJAJzuPF4EivbLU=",
                  "fileEncSha256": "yz0EtrdPkHD0LJ0cf4bwMxD5WrmJNVCVylOkSvf7slg=",
                  "directPath": "/v/t62.7117-24/19078243_1759410921668410_1824232847794706028_n.enc?ccb=11-4&oh=01_Q5Aa1QE2VumXrxBNyfu8GUJjuPC50fiVjQaheqNMP6c-6f3ouQ&oe=6834212E&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1745658559",
                  "contextInfo": {
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT"
                    }
                  },
                  "waveform": "AwgMCAQBAAAAAB45R1RfX1hWVFJMOzpPVlRNRkpMS0dANis2RkVDQEFKRzsfAAADFSk+REE+OyQUJjQ7R1ZVTw==",
                  "viewOnce": false
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "QXgMPvMw2/mSRQ==",
                    "senderTimestamp": "1745103929",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "agofuDbQjVZlNw==",
                    "recipientTimestamp": "1745475317"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "DjfNGoQ2iBSt2TyiubHxNSgMBti1HcfnjJCvYh9WUnE="
                },
                "base64": "T2dnUwACAAAAAAAAAABwkRvFAAAAABk32HUBE09wdXNIZWFkAQEAD4C7AAAAAABPZ2dTAAAAAAAAAAAAAHCRG8UBAAAAff5TlgEYT3B1c1RhZ3MIAAAAUmVjb3JkZXIAAAAAT2dnUwAAgH0CAAAAAABwkRvFAgAAANRXBlKqCQkIDzIyKysqKCgoJygtLTMuKywsKiUoIiUkIh0iISolHCAiIBgqLDQxNysnODUsLSgyNzAxLDEvMDEvMCssKyUqJisvLy0mLickKB4mKiYpISglLSkjICg1JiwrJx0vKSUqKzArLyghKAsKDSsxLS8rKSwkJiYnIC8qNC4tMDY1NCszMSwyKiUvJCIqIiIeFBAbFxcUGRkXFRsaGh0rMCc2MTAvLzU1PC1IC+RVxnTau0BIBuN5xTT6wCZIBuN5yMlXwEiAAPo6bH/WdEs/iyiNMEiB4igRM+cz7+XYEzcZgovtjFT4pc7ZMwhK94YH7Ys5Op8oBvktp57CxZzsuZdBJSLwSIIpolTem0me75g7T47nQLB6D9TzuxDfDkFeAopWa1oOUlokg3NTKqDC3RuCp3ALvoBIgnZC2BVlmkWe3pIBH5WBeQOTfZxb2ifVydBLHFt5/eTS2Nc8sL770icWSIJygdg6Gnj+/vyOcdXNw8uUZu9zRahTCJ7GgP4pxbAefxTXqi5c3jMtOEiNl0zvrKsAamzAN42m/E+bSdrGTIozrd1MGllLF3OkJcpYOg6Szo2QJEiCRcG4byzN0MNyj1k9t51f3Ehl7JXm83oIPQrWglizsBG2HDMsIdBIgkAa3Mvj3XQIusy4ocuG1Iq05B+ARw5iBbeIV+Yjgbu7HLzKasLASIIXPtFhE84RfbTliOoUKs8tQUddV5KuuF/ImKliy2e7bq4XruI4akiB64DQp4ROKP8irGKPseKfVi4DRVgAFoEryE5KZt2gYN04FCipoEiL3apXqRjhD36XT4JL+L6tN0HSfe7ndfXET90bTFgKmFc51r7LQHRIgYasfhk+xt84ZxtDfOmDywtaR/eMW39oY8RZj+O0/6Qx6/zCVctjeEAHe7BIgW4zgmmSuYAHWVBDwT9KRmpcMY6mE4ABP7+asaCX0LHpUgQj1tjGbsjBinBIimCradoXyMw+On9Yl4KMNTxpA/9XTJkK5jbFqENpkq3HpnJ9bgcbHcXdBWXJrqemr2RIgZVA29TCN+OhIsrsB5hVNROMtD1Tx6X4orBiChmbza74qAvgXxnRhxsq6G6USIrY/6l8q8waCdZeq29nXcDkxSV+hpNb8KCNI4saGmTuOy2UtaRkqFbANUiBlpQ9awSayaGhiL6lE6N8TRDu2B0BsBuucIaPwx7uf4JGf2k3zGD2sfukSIGVQNvUQGyB5GQtp1D9JHip10Jvh+oRjuHjQwPAUBYhB0il8CKY/JLWdOBIiuWeZ+qop+Tqyu7xtW2ncxXHBIvN0lNJCm+CVAufuMfRFE10iHUz1FBIgZaVU2m1SDBPWCh/DsZ5N4CwCkIe+dSQ4mWV4QbfpF/wNrIGSIrGcRZpp4wOPm54A0iwkx/zw0injdtzSXRZWatplO7kXDWZVeNYrkgFQGbvZswV8dVwt7sASeW6xKq89caGmbe0luHl5kjFeJBIBUCYKGrWMr28fWsAV0mtWCr+IeYRb/pM0vUYgLAHMywNuoRASDLzkSEhiVuJ9E+aJLXY4uFL956l7TNNK/guCBU3S0o2XjufSDEk8HBusVFrJYCGtMtV3Sxf0R2TQ64q+2cD9zIAeOaNgEgEi3qwYaAgd+SJtVdIz3J8BuPCJrj3k0xxmHkjSCtJGIqj4AgaIy3cvBhBzudnUwHFnlugL9CZHbxm0fkxO0gnDGqyjJYUF/UOdTniWVVGmRwo5BYe/T8opxplrz60fEgEAlOz5tJiDoWM2xBYkzGBuVvkVlzIB1hHDnGdMssUub08UAuAiJi8+EgEYRyw123ydmFL6SKnImrRNqo4L9ioIcdpnMctSkHu6amLx5BIBCTcLdhPgblzoVLz4rILRxKRc0REQBdXnhAwSAO2pSsdJYMd7EL5LT/bPfAPFQnx9gCDSX2rVtnpmsBIAwwp4L9YOeY9EtJ6uT6z6bCTotem+r5TbgF3PkTKQwkgSB5EAKrhtnkN4EU2RbYhgXCzXMQinCRKDn0ToexckwdIAmCNj+9KLm14Gzk3wxu5C7j+IhUukpBImNe4xzYAA8qucPUIDWjGwHJIql2a/GtZc6m0X5tVNGeEcjA7ILExWbhImvncgI18sjSxcm3robW9XiYXGG0ehzzBZR5gzGVJyGgP5jafjBTVs+0OEkil7/DkWWw2gD360SjBZRVIdpdv58WMNPr37CGN+XwUWH4oZLrSYlPciIRLhAyLyDCYJlBIqhtRDZwfXTBuASV/upbhkZIt+dDXlfo4qh/NpfxBbTj2PRlWXjUUWfbfbO8Q82M6SKyLuNog13AlxhH/mPqOpSPwtwP0Y3U2GDOp4xV9bBjZ9EBu3WUdLaUSm7vIMIPJlZVajMMkQEifdTNqZaoTeqmCidEWmL88bvomIDEujGA4qbQxJLUrCkTSjcWLt07MeYBImRvEkqrQm6HhrRSu1ujt1GMVAbTfSOmRvGtc3IL6TNTmpPLYSsBIvZFL66ba0wJUQ6BpMsxDS95Sjdm2y0YiE8bkZ2bEhrfWJtDsYGBEqmbzvKaADUET9pgdJCpc3Ei/saE2BufxNuZaikX5Mz8V7oCZ9xFLXDTGObWgX7XdPmzCJzCY5D3LLunaoc3b8iO/QZJwSLbaXorgLvnU1r0389s1CVBXGjEz7bXI9BroM7NxJPm+/WQJo5YnIh4qj2xItofkLRbEPR/DQ2/npT7X2JUCEd/JsrHdroSQBSLdE1S5oHqlfsDTx2hBmaBIrfunexoXnsQ/o8YscjIwWupjgOn5K7HLTMuXQ6whNfBmwjYaAG/oSKkaXH4sBhI0gmGao70ltHgaiFS7WXn2hXKRtGXrx3JdkXSBYRWoaqru0X2K3e8XgnRIq+T4Yv4z4+lckUFI0kAhzavA77lfEQBoqauMbHs/8P/daNNnVsYNaoUWWc5trqQrBqOrH3nQSLVpTNcnU6wZy+Wmoj6O2WbofbEuy4FRozwTDqlMxrIgIr4hy5dSsXdMGhlxQnpASK1LZcZKHNkIMtWMPX/H8TgwtPcUFQWVl94CoXi+Zmyoco6KGsGpWVtTwZiaGlCuwEi3FU7PiJqL8lUra0813hPpGHaYbaDNsldyDOp6UC23/MFZsEFBQhlRfNZ1SLpCwsQ6VXIBw+uL8B3A+zx6XL3vOPHFJyRt+0wiESlBUBL1JCQeI4KAx5yZt/RGmEi5aqzeIYgRrZA32NrWFakSjBPiRoRJW3LgMS44j4Hte+KrOEwAjyLzdOgiDJgQSLXPK/BfxksYUrS5HVd1EV4mGQc21kfbyZTGbSIAT7yUJvPv5AYVZJEV6AHsOQtQSLPlWLc6k++PPKlfrpIRHgkXLepGB4Rq41HOvi4f2Ch1M38XvKMGUrLQ5wOBUKvXgEi4kS3BOPu5BnP+Pz123JDWBww5LBFgxX2Uw2WG2T7qzzxNOq6M0S0KidNJUw+ASLqqh1frAA0m3m3gd2C1ZdlLtTI+T1qQP5OXGLnjI8hFJBjyfZzllEccBXDXPHjqSLsqejhR3BoU11wwXKVTAirEGarBpv+b8dMkkGgLFFQOqWlCS8OGzvMWoEi8FEGo79eR5iYacdMwsxteEHkwLcCtwpVIw8DmEX+ccjVUuMZ08gDKyUhASLo3iqfw9IAh8dyyLhZy++0R1mEtYRRkg6X/cpgfOz9yaBrzAHo3iwpAski6eO3Op1o44UHvfgqmOd6TDrZI/CTOLbr3IzuAC/iobiFRrlxIusj9h0BxO2Bo2kjAv62EUXe5HYwiiB6ukR7ansirSuUE4A1GIV/f1IBIuiRwV1dcmDhSIu5FToXK8dUZN4NF4kgpZWb7i86zyg9zRidVIEinGfK1rZ3FyDVf3WUx5xy/MpEE4VUWlMGTvH7s61J2sy/rXULqVEawdsBInPSwbaxpAVlHFjsag5CkItIvBKlq9lKitBLUIpJBj2Iv1mdehGx+iI9EHazkQEid+k/GI+ty8aUgthOArzpU9nTwZuoRaJuqlzOpWHw0qG6Qgs+db9JMgBl0mvfASLayoQ7GJemT5b2rpa76OhPQUDSbOcTcQ2+7SFbbWGZ4E4CG8A0F+t7b+nhASL63mO7jQBrMHGRQYW0g5jmrnSGE3PUs0FzJnm327YWUw5Klb6BIpYpQC95lph5Ci/LZzSWn5+nHv/Bxb0r74KMQB77Ze+cx7cwecUF8dqfe+DhMSKoO8Y2AlveUGJgb22hNXT5+exQ0CL31jAX+rBqgQacO3SKF98fkSKkrxWNox9+E+Jvype4c7IsNlqHFSEVQJf1EN7LmayBac2NASKRVrjA0ykxttNBRzC1LxZ2l5oVilXMdkhCqe9yXnSRjaauJe/FfT0itlyT73a0QmxR/GXnhE1mpI1wYna/45M46e1Xh4Eiw12s4bJgIiYA4a8Cpw00xNcJZr6xi3cs7vRcQZvxMcIvRIiZYSLK1ciQ7/YEEVSmKp/+Acs3ofMBL8uRdwHAtMaYUNq8YelntUctfHiEISLPkk3+zY2Nkcgx5T/l4DBJ9kJNwGVfGpGYG3zfWaY8oh3/LGKBItyYRlTstTVjzfXUtSWzBVQlb2Og5MBv7bpGkk9eID2th4lTKrrOCYEi1WRWT7ex6l/9NgJzZ0gvEsJFTJLuT7QtrFUCes1ZorUi1ZbuSs6pocrz1ssRpc20ILG1/gDijI0czMICqCg/HHRH2COMDqIBItdsL2yWln7+Jak/qZEmcF6LEgn71mVZC40401ZgilZ0WA86wSLVvIPm+lO/uPlf6iSDBVPI6L5Fi5OcUPpA06NhIvMWH1w7VFDZdINulTcY8SLY+HaIygrJ08gYMonGAKWvfwq9UBNwiIm4ZKGGQN7Ttqe1mu9oZrVBIt3M7tlN0/QZ60uDS2MVhcD0WztI7eVqIAHRYnkIQz9AvgEi04SwJrgV2mvNTONyYYKDxAJI6OJKpbv4BXGMvk/MgSLQ+Cqfx4t6X2CxwRNhDmBi/BOgaijT04xL7fWJD+skj4xymd3LjIEivKFVXrZUdey3ufUk+uWsKNAMX73BRLRHm03k3i7JLe5Sde9jONDa2jxpmxIAgDt3vbLGASLTPsWz0Ut4fyZlPvhqJz1OFbxq+KxkgdQFeedAR0Gv17Lu8ioBItj1gcOvVcrVHwB38vvjUVZ2SV/uwcgKuXhNpQBINwxVzCkD+H9EnrIlAgEil0NAjZ98Vri7TNsqe4g1su0DeuBqAuDM+r943EvrB6hKcgK02VfNufz5ImvuLwuNt8Vm8ubhKLEfgRoMbrJ4N3z3SAAkZXT3IKej76hkbojxIA/3ETD55Dt7MGmJ2vkNN+QSzaUelWaF4Fnd5fEil6e36ePEfnz6CfuKQa5PYKzC0VBNuxAI9KdHfOXWysYzFij6ggndsrQ5ZxEzgSK2X0EskR/TQwPcn23B+aHq8L7G6jZyt9hRQDejOVgyimtBYXaxLeD5IsooLukgEXBuz4ucXimCGK1M1Wb+yC3ByEqKRZDa+nU/VfywySK2PnfGoh/T+gM+wmUd38drJ8owKHkXkhx2T8Ck5rt5Ie/O4lAZs7o4kSKsAa/8j9s/a9HmCJUYqmjYXTaw3AcQmijNEFFySDFIuP0n8y+M0qBXDvkiriOPJcDHB/0y7y/em2KyzkBfm2Ra3m76MfrSHSTmU8GydU9ellP6Udy0PdN4EbEivMqpSLbecaSF3FZWeiufE4lCOYFhCf8ap5N36NQtGuE/Kli4YMwiFtgRIr0+OPoInYT39bfOzF/cMiNSVj9VPLuOzSe9c+J5tfDnOIq3rLHKyJnCNS4TkIEir5wKZceyoE3DnssToEkI+iylG7UjUpHwhQskbigUZFNvXElo31VRIsy5OL4EbnglTwPU3VWjvWDJt49zCRfoIpkmQh+YQ4pBIrfazC9cPqKOO476hT9A0uD7+vH78tCV3ZLaampe7YMxjFoNeMXXQSLmDtaUCXNzcn4BIuKxrsstrouOSSLXB3Eyj71MRPT+6gEi0rwdTI8U1NZe3kVNu2PdNJFdXlxs7YrgE8G6PZ65nP0gaeUUJhlQTYExIp/EenSwM4MsTmbwv4lpXDJfMNwfQu0NKKNlhj5LrhK8wn0smNoLJdnF21JMsjeLASKer1jJsFvmPDEnzyEM1Vy1PSzKbTt4fYMuPbiU8hQEm8TvJUmq0IzFP3n0USKONV/OnawDWzP8HYfWusVyqRAz0vYzg0KhyxJ246UMaV63UC5u4JSiBHE+D4kBIoDkTMaZeWa+ZGwAhKscGEOAfevdrRqcyNKL0MkVnRJkO46HFGjOskuKwSINp1wYFg4Jy2viMZoAAVALWvSa55fVZckVXF5syhyUYK80X2jcz/nBIhG6MfdgQBCvw0s+11JvYJUXUQU4Wnp77Fcvy+cRZG+0Gei8ANO10xMVwWkiEj9aK31SzWK97OeRjgXI3gosxV3Ninjgxre68D9ZTcBLDaUiEi/PVeUQNveCeEYmmVa6NlMliBGGYfBD/UJmxwDsZHhqtLybgSIRotaBrGAwz3XHj7F7LWsTVaWWwTZO/lSkwDBGPBpsLwgVjy4BIkmA9toKxJdpI5XEiaILqttSpmGkfGQt5D9bQm0XuGh6C96g0C0lIgrsp2MhIYmfhEg74uW1PWjnFNnu/TK7xbVEw/klg+EihrWM5TGf8NbBmvIhbzHZTmJrCsrF5f/wPJ43aelgSTSZvPleSISnI850RNdFASKKIQeUni8S/e7l8+C3Hd5R6uTmXU3VNT0l82fg9c5I3dgQMWxBxX+5ASJ/hVjwhIN1K6GommQreqckD4R/dfIJ9/Gz6fCByMXwSTcfliSRtd8+nCim9ZnThXK+KUEikU1dkOMu1jRQFYJOFY10yJ5wyYVPpYrFbfhU+/1wNAU23l46LAqemDLgNLoRIqoSCthhXlII9AHWuQ9g5qdOT4v6x7M1ekLaUW/Ypf0220bNHGwCAjEPWHO9IppWTNs6SMha/lchWxDxaj6UBpCWMi9s+sK2xdo/knJN3mxyN3sAFeeHpkzdEcoBIpZsj42PP08isDHEvntMJC1Deoop3cAHb2d0bt1z05He/hf+Gxp5W+pNBQvmUv3SbYRPC/t5IqF1MerLFRjTT5HQ6zCpSoKtAzOiqFe4AIXEap15d8+2doSCQgZB9xT0ocHEBH5M19v5EgEil5R31VBJBExMf/iH8ocQJvdM5YTDCenzZNqw2ft4waepdm+VFzS+0n1+6ZG5YF26B5oBIn8od7OU4pDTD1scr+LGTbb2dDYK+n6WRTYmvGg2rAt3ypDjvTLg/Yms4SKGhTCoaYfoj03YMMcKToFrcYTmkeDWTHu1eV5WQLxmIc7os3PuK6p/gTEqxX+iPzD5QSKG5Kz0X72mCTtWHOzrzeFJgOXNdY6cOt6X1vZQLqsY3TiWYd2ZQpggq6XzfpQI9kEijw8ixw+soeEX7ieJyg9VHoXzCXf2V+bnB8L+YGb1b7c02EfmJgzrEM3UMSKWKtghYRTd5roUbuQCFh780kDkeGU4zCiZasnogK1V0uMn+8QVS6t3EF8IGriw46cRIqYvEC/59hWXa0uTqahElJjZQFtHdJLlg6Fy7vI7v7t2kntSr4ZoLcgRIrTYWSaURaWqsbcm+RH0fp2+Ut7xLbR5oTTs8uxdqYEdtqMiASK6jNVYHYy58BPlIfw4NAuRJYiRuJYOEoB8Psx2uUqAfH9YPTVcyG9qvxjzYoLRIroKCt/WGddMg+T1cqrObpSyGkaeH3oeylyqALP3BpY6ZsuBIrGWctCg9+EYS8mGFc1s1z66YHqsFjVyESg5IoghP2L2ASKj9zQ49Y02xeu4LwzgluHIpothq5qEdrXk70gJK75IJQqMNcETjLS+ASKIXq1YNE6Tl3FS5K72PFJcFZev/ufuxB24KN/vc1YannEic+LPD0mCyzSRFKUI5LG8j6Y5LC+OVljzbfwd8B218SWxIm/CmhzRaI4aEmLr8y9qMFdGmv0sXprV/bd4+gyBIBF2W9seYmRYviWOt39vrl6g2REgELsy4XcB65nPTbXcm2kBIKYXYcCJ3MepuBfBSNFBlyovNDYfMh/ghhHFIA/kVzVz3MEyYkLYXXVZDgN2wRb5VVEgDuqi4W9fS2sIMuHaHNgob0609XHfASANu/EnjTX4y04Q/FvBqAOCvH5hIA278VTvIYOf/pBXXlQgh0OW3MY1g3h/TSAMeUoK3uW7vX32kwTGwXh7VQDZKdLzogEgCr8aiXzpq7BAQTr5eL5lSlQdj4RsGSAJU10jfYsOuP/DQddjcNd3WoTvASBUYz7z/fTCvF3UCWFlooNn7uXHQx1kPjKs2SBI3+lB9ol+1mZ3/3j+YRXXo2mtOYNbj+WBIATb3suWXaoM3pnrXkSEDRBSv8xNQZ0odWkgBCrMKwW5RqB5BH16qrJjWhaSGmfb6U5J4d07RSJkR3Qi8CtQcin6h58/K9mQ8eqN1ok48DACd7E3Hj0MzJCkDHhah3SWv8Uibxjhg/9gWMBaRW45Ifkrq/41dkLlE8W2dpaUN9pvWpvSZ3eWpcbExt1jicH0tJEiY+OM0FSTworTdmkEWLjDuuW9FLlueYhFoixO3185NsK1QVj8IqEiY2pScggSMA0cBkhnA7pGtITUv43M0fi644a9wtDmc0GGWT0/0xhBj5583vOZpFvLujJbvOEicSJ2/Vjrfiz0gaZ0ISf9vIewI/buJEh2XTQiPSM/L6qCyL1q/eC0qD8y50BdB2XRInnesxvVkhjQyFw7qPPGjhBJl5MZWdUTFpTXGkGirApkprhzhsqEIYPofABJYUxVInAY5mRG44lcpu2r4IsM16soMj8B0Riy7xuBCubY6NSE6ghczyzJiDBqS2k6HQEicMO2ysn2FQN+OXMukRZ3Z9SWktOk4tx8J0QapJIKmhFHBrPmdTutl6PQeWriASKA6j/1Xho4ugjPOldKn0i3/BuVR81/CW62aCCpsASDdhBC28INCoPRr/cvte9NCuBMf4+BIq+stDGSC7NcoQaandYELsaLVh/DH7DJCQPUJO2oAvG9kZBtXD6PbzymA1Zhd5j+A8wc5QEiykUpAmj8smu71Ek3WNPF3yBZhRtzwck7hT9t1ER2nMTt3gX/5EbulqpVybl3ajlvqK6hiMEeY5t79gEiul8EsMbiHD2WuhvY4/iQxZrAh/Qikd9yazzYsWmbsp64ApN5NnbxbBQdpgE9nZ1MABMAtAwAAAAAAcJEbxQMAAACwcaddLzInLSknNDE1MjQtKyYbFxkXKCcsMy0zKxkUKys2My0rKCouKS0qKyovKi0jLiUhSK9CnpR8JlRWD0kVe6sHmCIrwU+llzjzZ/OaGFFysmY9ux1Ie58LHWlAJcIXCQDpvIBIqpEwLDqijjQJzLwMRrm4oKDCwrdFCkU0lTa9QSCkqIJbIBHC9YBImvfvz/XXYs+TBY5yQIL5KSWDeIGQV3HqUNFYJyyfs1h95AM7EYBdjMnyVApImO5dMiv1kkhdhQp/d/IR7T2bM2Zp9/2q+iSHaobOq3ASi457hA+KqEia5SzcFP/vQ/giQt/dXVrDOXs3b8Adkag4eOMd0Bg0sx0ofJFJ+Eip4VYo6q4YdnBOVsmKE8bN2zcy75OZlF2bR9x4Q43dQ7uqlndeA0BZNx0JN56epJ+ejeBIq8jwXm+Pe29mi1RmWqzU+msVBI4S+sGcfzWZgDV+pm85krUGm2lCkmWVLvSxGaAgSK2QQ1wYeRnXNUUMtZlC9XusXTGw24TJWyKLrOYjf70arRUuZxM9HWTHn58oqMevxV0U6WBIphWy2CqnPY2zGUUga0bjsC3qt11v2vFg5vAEWnllMX/easdIM7y7u5REESnE3Izu8Eij/59+j5HLl/sNlnLnZj4mh28qEV3oAO5DUU1BTZwcPkYAiVUkNk/eV05CdL3uDEc64+BIoP8yVWFvxkNbnwW9SciMpbteZNpc3OHgVBJzDOmd7dBH+dJwEvQDfRc+HMBInGQlGowg+k66YPg6EfUxCdRyXkyQBQCq7I2E3B3aFMP7HqYD31cKDwmgSJnSvpxLjPzsS17MnBGvz5vqriNSms7UherchtZiSZOStEnzFIBIA/LgxGcTSZOqcFj02PH/DZ4CaZXnxbAqMbJIA/SsKSFREGSYjTkPbJDa+a1uV5zzwEgD51R5eGJUiQ1FobJf7abeD+ttQlj6vnhIA76KsniBImRT3ZMNunLRZ/MbH880N0iZWn7W1GVnuMmUxdoWDl6PAKk+daq7mev2or/+Kd22O96yaHIgaNBImSgMpHcdfAN2h/rNzsb96LRbHn57d/0DvLLUrzgI9AY6FvaE/0BInNYGryXfORyGA+1N1dmNf2Qbfcf03pJpivfG0EKUKEigoFS29GT+hFnZYEia57fC833WcaWk3YB8bt3Pv0qB/ubN/GNIdZvCTUrySUw8UGBH+0dXkJo2Ab/IlGNdDEicTQnWffqXyUqfODeP12nNh8Ig06THQ0RSXOF+j9sGCetvYoez914O5M1M4EihzcmBG3BNfzMYrX34APdwZ77nDZr6dSrZT192WfM2NrjlqiK8TPMgnM1eLaDHyAIkekigryYdfkoYeYGEjwDx4M3h4PM474saCGMVgRxNyMjZXV05EBkdVEC/v7BIA1F46kFZdK6+OOft6C1KCXRobCR75Cv8SAJsM12oJIfvEKpsSYgmq1M/jchIgLIvh/bg/peIebdL/9EfcLWGFb1ABStcjoj8KVWAH9W8hGZtKitCml5gSKdqG0AvVyo5unXl6b9b5Y4a7cPCVQnHhSE8+2RazCMt4OyLFEaDy1Xv+kiysvYyaAQ8foo9h5+loa3P+BWcRsH1GOWSNsnsY5F8SVn8/B7qRxpd53Jn0I/3IsiF5BqJYEi4UF5cEAq5grIi49MdIqf1wlAaSWfszKNP1BK4VAupFosAMW9XY187s50bxliBX7QAgUizJo5XKB2vXz8OYHhhA3swLf7jmIiJgjdVIQMKmLy0fZn36igJpSFA1Ck2YEisXHJ0DvwHiEu3/LamDZaqZjjKcQIdQF0RBB8L/Glh0pq+ETNizHKhWCBIpsJCTYYHAOLAz4eQp9HvXHVg7a3hzBSpHycMzy5Uwj9p/oxoumzgSKbkEQWCmparSUVTTqYg3mwxYnBt2Vw9SNIAjMRGFoxFZ4sa2g/QBprASK2XwSo/EpGgjvF2p5NN0MwCgXlflDsDwqVuC60W4JlqQIgIH2JvRegum3KswEiw4fX+nNg/lQZQTk5Zw43+xyJk2xv+CIEzS5OdvqKykvveliYhn4R2SLM42iB6YyPubsi585WgO8mVHmkA2cdW+vhPbDIQCoPkRZBxn7jgvNJhDrSdSLOelFY7L7AuBLLRAUAmAIzThWUgdhJRgIXyMI79qRaWBR34xQ35A/swSLMz2fN6WzLaCzMwt1dGnrNpx+fcfFdmhv30LL4q7PCYxQfrS3H9sms0wEi1Nv9JScSfdh5N3v3hyj8SoFWHx4jQOKZw82f3ZvIbUURBHpxSCP5hgEi20+R1NTs1QSuw04qAPmrh3EO6dOD0LF19CLX8/5iL2YiSkH2GnocOOVcv5NdQSLK1H7APWtkYJFoQ6ADP6W/nsXx28UAjtBGTbB+sSEwZZKBIU4kTiyxgSLS4SyrTba0V75/nRjNTnEfeQwvPU1G07eK2D74jB0wa42neQpwa6pRwajIgSK+W8T6H+hWuGqLZQ3szKet5Qv0vvfvn2TGRPR+ee+HxK4BIpYoHpq0Ch2qm+QnujxKeIDkUfGxKPVhYY8/FLBpKm4xZrmRbePjSFu8AhTKfSKSQrV7qDKAXMa5JkESQTEI/14a/8hYzhWqqgk8fSulZJ3EJZEiePV1jGByKjYKN2ne1tsXCR1qZwASeCVvdKiH0qkSseA=="
              },
              "contextInfo": {
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT"
                }
              },
              "messageType": "audioMessage",
              "messageTimestamp": 1745658561,
              "instanceId": "e1768af6-ae85-4f0b-83fb-e2dccab0402c",
              "source": "web"
            },
            "destination": "https://webhook.engenheiromatheus.com/webhook/vendedora-vitoria",
            "date_time": "2025-04-26T06:09:21.262Z",
            "sender": "5515991266755@s.whatsapp.net",
            "server_url": "https://evolution.engenheiromatheus.com",
            "apikey": "429FD5EB5B9E-42A1-B2BD-41D5C62F0312"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/vendedora-vitoria",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-26T09:16:35.475Z",
  "versionId": "a6bcb122-757b-4521-8db0-bf843fbb5495"
}